@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: 
   Date: 
	
   Filename: br_styles.css
   

*/

html {
    background: url(br_paper.png);
}

body {
    height: 100%;
    width:1200px;
    margin-left:auto;
    margin-right: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-image: url(br_photo10.jpg);
    color: white;
}

body > header > nav > ul > li a {
    display: block;
    float: left;
    position: relative;
    width: 20%;
}

aside {
    border: 3px double black;
}
